/* FILES */
@import url(reset.css);

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* COLORS */
  --Red: #e3646e;
  --Purple: #bb72e9;
  --Blue: #3996db;
  --Green: #82bc4f;
  --Yellow: #eabd5f;

  /* SHADES */
  --White: #ffffff;
  --Gray100: #e2e4e9;
  --Gray200: #c0c4ce;
  --Gray300: #878ea1;
  --Gray400: #292c34;
  --Gray500: #16181d;
  --Gray600: #0d0e11;
  --Black: #000000;
}

body {
  background-color: var(--Gray500);
  color: var(--Gray200);
  font-family: "Inter", sans-serif;
}

/* ANIMATIONS */

@keyframes arrow_down {
  from {
    transform: translateY(-1em);
  }

  to {
    transform: translateY(1em);
  }
}

/* MINOR CHANGES */

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

section {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  justify-content: center;
}

h1 {
  color: var(--Gray100);
  font-weight: bold;
  font-size: 3em;
}

.red-h {
  color: var(--Red);
}

h2 {
  color: var(--Gray100);
  font-weight: bold;
  font-size: 2em;
}

.purple-h {
  color: var(--Purple);
}

/* INTRO */

#pfp {
  border: 3px solid var(--Red);
  border-radius: 50%;
  width: 6em;
}

#intro-h,
.red-h {
  font-size: 1.25em;
}

#intro-p {
  color: var(--Gray300);
  line-height: 1.5em;
  font-size: 0.8em;
}

#intro {
  background: url(assets/Background_Intro.png) no-repeat top center/cover;
}

#intro-container {
  gap: 5em;
}

.box {
  justify-content: center;
  align-items: center;
}

#intro-box {
  gap: 5em;
}

.inner,
#my-works {
  align-items: center;
  gap: 1em;
}

#stack-list {
  gap: 1em;
}

.stack {
  background-color: var(--Gray400);
  align-items: center;
  cursor: default;
  border-radius: 1.5em;
  padding: 0.5em 0.9em;
  gap: 0.5em;
}

#arrow-down {
  animation: arrow_down 1s alternate infinite;
}

/* PROJECTS */

#projects {
  gap: 3em;
}

#hub {
  flex-wrap: wrap;
  margin: 0 10%;
  gap: 1.5em;
}

.card {
  background-color: var(--Gray400);
  transition: 0.2s ease-in-out;
  border-radius: 1em;
  flex-basis: 30%;
  padding: 1em;
  gap: 1em;
}

.card:hover {
  box-shadow: 0px 0px 3px var(--Gray400);
  scale: 0.99;
}

.projects-link {
  width: 100%;
}

.project-img {
  border-radius: 1em;
  width: 100%;
}

.projects-title {
  color: var(--Gray100);
  font-weight: bold;
  font-size: 1.25em;
}

.card-info {
  gap: 1em;
}
